@model CreateEventViewModel
@{
    ViewData["Title"] = "Create Event";
}

<body>
    <h2>Create Event</h2>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <partial name="_CreateUpdatePartialView" model="Model" />
   

        <div class="row mt-3">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
